<div class="section" id="welcome"> 
  
  <h1> Project Path </h1>
  <h2> An experiment in visualizing career paths </h2>
  <a href="/#/#description"><button> Learn more </button></a>
  <a href="/users/sign_up"><button> Sign up </button></a>

</div>
<div class="section" id="description">
  <h3>What is Project Path?</h3>
  <hr>
  <p class="large">
    Career paths are no longer linear and predictable. These days, people often jump from one industry to another. How do they do that? Our guess is that there are discernable patterns, and we want to find those out.
    <br><br>
    Project Path attempts to abstract career paths from the powerful data available on LinkedIn. All the data is there, but it's not easy to search for <span class="italic">paths</span>, as opposed to <span class="italic">people.</span> 
    <br><br>
    We built a data visualization tool to help you view your LinkedIn network in a new way. We've only just begin this project and hope to bring more complexity and insights in the near future.
  </p>
</div>

<div class="section" id="howitworks">
  <h3>How it works</h3>
  <hr>
  <img src="app/img/diagram.jpg"> 
</div>
<div class="section" id="getstarted"> 

</div>
