/*$mainFont:  'Open Sans', sans-serif;
$titleFont: 'Nixie One', sans-serif;
*/

h1 {
  font-family: 'Nixie One', sans-serif;
  font-size: 60pt;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 10px auto;
  color: white;
}

h2 {
  font-size: 25pt;
  letter-spacing: 2px;
  margin: 10px auto;
}

.section {
  width: 100%;
  padding: 30px;
  text-align: center;
}

#welcome {
  min-height: 700px;  
  background-color: rgba(0,0,0,0.5); /* not working */
  background: url('path.jpg'); 
  background-size: 100%;
}



#description {
  /*background-color: red;*/

}

#getstarted {
  /*background-color: blue;*/
}
