
<style type="text/css">
  div.bar {
      display: inline-block;
      width: 20px;
      height: 75px;   /* We'll override this later */
      background-color: teal;
  }
</style>

<!-- HTML --> 

<div>
</div>

<script type="text/javascript">
  var dataset = [ 5, 10, 15, 20, 25 ];
  d3.select("body").selectAll("div")
    .data(dataset)  // <-- The answer is here!
    .enter()
    .append("div")
    .attr("class", "bar")
    .style("height", function(d) {
        var barHeight = d * 5;
        return barHeight + "px";
    });
</script>